* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #f89b29, #ffb347);
  overflow: hidden;
  /* position: relative; */
  overflow-y: auto;
}

body::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  width: 300px;
  height: 300px;
  background: #ffd36a;
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none;
}

/*Navbar*/
.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 60px;
  position: relative;
  z-index: 10;
}

.logo {
  color: #062547;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.logo-mango {
  position: relative;
  color: #062547; /* dark text */
  z-index: 1;
}
/* .logo-mango::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -28px;
  width: 120px;
  height: 120px;
  background: #ffd36a;
  border-radius: 50%;
  opacity: 0.65;
  z-index: -1;
}

.logo-lassi {
  color: #062547;
  margin-left: 4px;
} */

.logo-mango,
.logo-lassi {
  color: #062547;
  margin-left: 4px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #062547;
  font-weight: 600;
  transition: color 0.3s ease;
}
.navbar h1 {
  margin-left: 30px;
}
.navbar a:hover {
  color: #f43900;
  cursor: pointer;
}

/*hero section*/

.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 100px;
  height: calc(100vh - 120px); /* Adjust for navbar height */
  gap: 120px;
}

.hero-text {
  max-width: 500px;
  z-index: 1;
}

.hero-text h2 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
  color: #725403dc;
}

.hero-text p {
  font-size: 18px;
  max-width: 420px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #3a3a3a;
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 3s;
}

.hero-text button {
  padding: 14px 28px;
  border: none;
  background: #f46200;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
  border-radius: 999px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 3.4s;
}

.hero-text button:hover {
  transform: translateY(-2px);
}

.hero-visual {
  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-55%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-visual::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  background: radial-gradient(
    circle,
    rgba(255, 210, 120, 0.7),
    transparent 70%
  );
  left: -140px;
  top: 180px;
  z-index: -1;
}

.hero-visual img {
  width: 700px;
  /* transform: translateX(-40px) rotate(6deg); */
  /* transform: translateX(-120px) translateY(40px) rotate(6deg); */
  animation: lassiPop 1.2s ease-out forwards;
  bottom: 20px;
}

@keyframes lassiPop {
  0% {
    opacity: 0;
    transform: translateY(120px) scale(0.9) rotate(6deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(6deg);
  }
}

.typing {
  display: inline-block;
  font-size: 38px;
  font-weight: 800;
  color: #2a1f00;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgba(0, 0, 0, 0.5);
  width: 19ch;
  animation:
    typing 2.8s steps(19, end) forwards,
    blink 0.7s step-end infinite;
}

.subtitle {
  font-family: "Pacifico", cursive;
  font-size: 16px;
  margin-top: 10px;
  color: #5a4a2a;
  letter-spacing: 0.5px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 19ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.socials {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.socials li a {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-weight: 700;
  color: #2a1f00;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  backdrop-filter: blur(6px);

  transition: all 0.3s ease;
}

.socials li a:hover {
  background: #f46200;
  color: #fff;
  transform: translateY(-4px);
}
.mobile-typing {
  display: none;
}

/*hamburger*/

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #062547;
  border-radius: 2px;
  z-index: 1;
}

/*=========RESPONSIVE======*/

@media (max-width: 1024px) {
  .navbar {
    padding: 24px 50px;
  }
  
  .hero {
    padding: 60px 50px;
    gap: 40px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }
  
  .hero-text h2 {
    font-size: 42px; /* Decreased font size for tablet */
  }
  
  .hero-visual img {
    width: 500px;
  }
  
  .hero-visual::before {
    width: 180px;
    height: 180px;
    left: -100px;
  }
}


@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    /* overflow-y: auto; */
  }

  body::before {
    display: none;
  }

  .navbar {
    padding: 16px 20px;
    justify-content: center;
    position: relative; 
  }
  
  .hero {
    padding-top: 100px; 
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 20px; 
    left: auto; 
    transform: none; 
    width: auto;
    min-width: 200px; 
    max-width: 250px;

    background: linear-gradient(
      135deg,
      rgba(255, 220, 130, 0.95),
      rgba(255, 190, 90, 0.95)
    );

    backdrop-filter: blur(14px);
    border-radius: 12px; 
    padding: 16px; 

    display: none;
    flex-direction: column;
    gap: 12px;

    box-shadow:
      0 10px 30px rgba(0, 0, 0, 0.15),
      inset 0 1px 0 rgba(255, 255, 255, 0.4);
    
    z-index: 100;
  }
  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    text-align: center;
    font-size: 16px;
    color: #2a1f00;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    min-height: 100vh;
  }

  .hero-text {
    text-align: center;
    width: 100%;
    z-index: 2;
  }
  .hero-visual {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    overflow: visible;
  }
  
  .hero-text button {
    margin-top: 24px;
  }

  .hero-visual::before {
    display: none;
  }

  .hero-visual img {
    width: 320px;
    max-width: 95%;
    height: auto;
    rotate: 0deg;
    /* transform: none !important; */
    /* margin-bottom: 24px; */
  }
  
  .typing {
    display: none;
  }

  .mobile-typing {
    display: block;
  }

  .mobile-typing {
    font-size: 34px;
    font-weight: 800;
    color: #2a1f00;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
  }

  .mobile-typing span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
  }
  .mobile-typing .line1 {
    animation: typingLine1 0.8s steps(6, end) forwards;
  }

  .mobile-typing .line2 {
    animation: typingLine2 1s steps(7, end) forwards;
    animation-delay: 0.9s;
  }
  
  .mobile-typing .line3 {
    animation: typingLine3 1.1s steps(8, end) forwards;
    animation-delay: 2s;
  }

  .mobile-typing .line3::after {
    content: "|";
    position: absolute;
    right: -8px;
    animation: blinkCursor 0.8s step-end infinite;
    opacity: 0;
    animation-delay: 3.2s;
    animation-fill-mode: forwards;
  }

  @keyframes blinkCursor {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes typingLine1 {
    from {
      width: 0;
    }
    to {
      width: 6ch;
    }
  }

  @keyframes typingLine2 {
    from {
      width: 0;
    }
    to {
      width: 7ch;
    }
  }
  
  @keyframes typingLine3 {
    from {
      width: 0;
    }
    to {
      width: 8ch;
    }
  }

  .hero-text p {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .hero-text button {
    margin-top: 24px;
  }

  .subtitle {
    font-size: 18px;
  }

  .socials {
    display: none;
  }

  .logo {
    font-size: 24px;
  }

  .logo-mango::before {
    width: 100px;
    height: 100px;
    top: -16px;
    left: -24px;
  }


}

@media (max-width: 480px) {
  .hero-text h2 {
    font-size: 28px;
    margin-top: 40px; /* Add space for header */
  }

  .mobile-typing {
    font-size: 22px; 
    margin-bottom: 24px;
  }

  .hero-visual img {
    width: 280px;
  }
  
  .hero-visual {
    margin-top: -60px;
  }
  
  .hero {
    padding: 100px 16px 20px 16px; 
    justify-content: flex-start; /* Align to top */
  }
  
  .logo {
    font-size: 24px; 
  }
}

